// Variables
// =============

$color-backgroud: #FFFFFF;
$color-primary: #007CBA;
$color-primary-90: #007cbaE6;
$color-secondary: #094eb4;

$color-text-primary: #000000;
$color-text-primary-second: #333333;
$color-text-secondary: #FFFFFF;
$color-text-link: #F3A832;

$color-icon-white: #FFFFFF;
$color-icon-black: #000000;